[tool.poetry]
name = "usepy"
version = "0.1.45"
description = "usepy"
homepage = "https://usepy.code05.com/"
authors = ["miclon <jcnd@163.com>"]
readme = "README.md"
packages = [
    { include = 'usepy', from = 'src' }
]

[tool.poetry.dependencies]
python = "^3.8"
usepy-plugin-notify = { version = "^0.2.2", optional = true }
usepy-plugin-logger = { version = "^0.1.0", optional = true }


[tool.poetry.group.test.dependencies]
pytest = "^7.2.1"
redis = "^4.5.1"
loguru = "^0.6.0"
fastapi = "^0.92.0"
uvicorn = "^0.20.0"


[tool.poetry.group.dev.dependencies]
black = "^23.1.0"

[tool.poetry.extras]
notify = ["usepy-plugin-notify"]
logger = ["usepy-plugin-logger"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
